body {
}

h1{
    text-align:center;
}

h3{
    text-align:center;
    
}
h2{
    text-align:center;  
}


.jumbotron {
  background-image: url('https://missionary.lds.org/clothing/bc/o/elder/guidelines/elders-general-guidelines-20.jpg');
   
  background-size: cover;
  background-position: 0% 25%;
  background-repeat: no-repeat;
  color: black;
  
}

.wrapper {
    text-align: center;
}

body{
    background-color:grey;
}