@{
    ViewBag.Title = "About";
}
<link href="~/Content/About.css" rel="stylesheet" />

<div class="container">
    <div class="jumbotron">
        
    </div>
    <h1>Missions R Us</h1>
    <h3>Missions R Us is a company based out of Provo, UT that has been helping missionaries get prepared for their missions since 2012. 
    Our aim is to prepare missionaries for their specific field in which they will serve. How do we do this? We not only provide study resources, but we also
    give training lessons to those that are getting ready to serve.  Future missionaries can even ask questions to past missionaries about cultural differences.  Come check out our headquarters in Provo or search your mission online to see what awaits you on the mission!
        
    </h3>
</div><hr /><br /><br />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/Cam Linkedin2.jpg" size="45" style="width:300px;height:228px;">

        </div>
        <div class="col-lg-8" style="font-size:20px;">
            Cameron is the founder and owner of Missions R Us.  He graduated from Brigham Young University in Information Systems in 2011.
            He served his mission in South Salt Lake and loved it.  He wants missionaries to be as prepared for their missions
            as they can be so they can be successful.

        </div>


    </div>
</div>