@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Index.css" rel="stylesheet" />
<div class="jumbotron">
    <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Called to Serve</h1>
    <h3 style="color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Click Here to learn about your mission!</h3>

    <div class="wrapper">
        <p><a class="btn btn-primary btn-lg" id="buttonz">Find your mission</a></p>
    </div>
    
</div>

<div class="row">
    <div class="col-md-6">
        <p style="font-size:20px;">
            <br />
            “The Standard of Truth has been erected; no unhallowed hand can stop the work from progressing; persecutions may rage, mobs may combine, armies may assemble, calumny may defame, but the truth of God will go forth boldly, nobly, and independent, till it has penetrated every continent, visited every clime, swept every country, and sounded in every ear, till the purposes of God shall be accomplished, and the Great Jehovah shall say the work is done.”
        </p>
        <p style="font-size:20px; text-align:center;"> - Joseph Smith</p>
        
        
       
    </div>
    <div class="col-md-6">
        <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/3aKU2rkvFQU" frameborder="0" allowfullscreen></iframe></h4>
        
    </div>
    
</div>